{% extends "auctions/layout.html" %}

{% block body %}
    {% if title %}
        <p><h2><b class="heading" style="font-size: 40px;">{{ title }}</b></h2></p>
    {% else %}
        <p><h2 class="heading" style="font-size: 40px;"><b>Active Listings</b></h2></p>
    {% endif %}
    {% if auctions %}
    <div class="row">
            {% for auction in auctions %}
            <div class="col-md-2">
            <a href="{% url 'listing' auction.id %}">
            <div class="card" id="card"style="width: 18rem;">
                {% if auction.image %}
                    <img src="{{ auction.image.url }}" class="card-img-top" alt="{{ auction.name }}">
                </a>
                {% else %}
                    <span class="heading" style="font-size: 30px;">No Image Listed!</span>
                </a>
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ auction.name }}</h5>
                <p class="card-text">{{ auction.description }}</p>
                <p class="card-text">Price: ${{ auction.price }}</p>
                <p class="card-text">Created {{ auction.time }}</p>
                </div>
                {% endfor %}
        </div>
    </div>
          
    {% elif title and not auctions %}
        Your Watchlist is Empty!
    {% else %}
        <h3>No listings!</h3>

    {% endif %}

{% endblock %}