{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated and user.username == winner.user %}
        <h1 class="heading">You have won the auction!</h1>
    {% elif winner and user.is_authenticated and user.username|lower != winner.user|lower %}
        <h1 class="heading">Auction Closed !</h1>

    
    {% endif %}
    <h1><b>Listing:</b> <span class="heading">{{ auction.name }}</span></h1>
    {% if user.is_authenticated %}
        {% if token == 0 %}
            <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}
                <p><button type="submit" value="{{ auction.id }}" class="btn btn-primary buttons" name="watchlist">Watchlist</button></p>
            </form>
        {% elif token == 1 %}
            <form action="{% url 'remove' %}" method="post">
                {% csrf_token %}
            <p><button type="submit" value="{{ auction.id }}" class="btn btn-primary buttons" name="remove">Remove</button></p>
        {% endif %}
    {% endif %}
    </form>
    
    {% if auction.image %}
        <p><img src="{{ auction.image.url }}" alt="auction.name"></p> 
    {% else %}
        No Image Listed !
    {% endif %}
    <div>
        <b> 
        <p><span class="heading" style="font-size: 30px">Description: </span><label style="font-size: 23px;">{{ auction.description }}</p>
        <p> <span class="heading span" style="font-size: 30px;">Price: </span><lable style="font-size: 23px;"> ${{ auction.price }}</p>
        </b>
    </div>
  
    {% if user.username|lower == auction.user|lower %}

    {% elif not winner and user.is_authenticated and user.username|lower != auction.user|lower %}
        <div style="font-size: 30px; font-weight: bold;">{% if bids != 0 %}{{ bids }} bid(s) so far.Your bid is the current <span class="heading">bid!</span>{% else %} No bids so far.Your bid is the current <span class="heading" style="font-size: 30px;">bid!</span>{% endif %}</div>
        <form action="/listing/{{ auction.id }}/" method="post">
            {% csrf_token %}
            {% if context2 %}
                <div class="heading">{{ context2 }}</div>
            {% elif context1 %}
                <div class="heading">{{ context1 }}</div>
            {% endif %}
            {{ form.as_p }}
            <input type="hidden" value="{{ user.username }}" name="user">
            <p><input type="submit" value="Place Bid" class="btn btn-primary buttons"></p>
        </form>
    
    
    {% elif not user.is_authenticated %}
    <b class="heading">Sign in To place Bids!</b>
    {% endif %}

    <div class="card comment">
        <h5 class="card-header comment-header">Comments</h5>
        <div class="card-body comment-body">
          
          <p class="card-text comment-text"> 
            {% for comment in comments %}
                <ul>
                    <li><div style="font-size: 20px;">{{ comment.text }} - Comment by <label class="heading" style="font-size: 20px;">{{ comment.user.username }}</label></div></li>
                </ul>
            {% endfor %}
          </p>
          {% if user.is_authenticated %}
            <form action="{% url 'comment' auction.id %}" method="post">
                {% csrf_token %}
                <p><input type="text" class="form-control" placeholder="Comment..." name="comment"></p>
                <input type="hidden" name="name" value="{{ request.user }}">
                <button type="submit" class="btn btn-primary buttons">Comment</button>
            </form>
          {% endif %}
        </div>
      </div>
      <p><h1>Details</h1></p>
        <ul>
            <li style="font-size: 20px;">Listed by: <b class="heading" style="font-size: 20px;">{{ auction.user }} </b></li>
            <li style="font-size: 20px;">Category: <b class="heading" style="font-size: 20px;">{% if category %} {{ category.Category }} {% else %} No Category Listed {% endif %}</b></li>
        </ul>
      {% if user.is_authenticated and user == auction.user %}
      <form action="{% url 'close' auction.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary buttons">Close</button>
      </form>
      {% endif %}
    
{% endblock %}