{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        #image
        {
            max-width: 250px;
            max-height: 250px;
        }
        
    </style>
    <h2>Active Listings</h2>
    {% if listings %}
        {% for listing in listings %}
        <div><strong>{{ listing.name }}</strong></div>
        </div><strong>Price:{{ listing.price }}$</strong></div>
        <p><a href="{% url 'listing' listing.id %}"><img src="{{ listing.image.url }}" alt="Auction Image" id="image"></a></p>
        <div>Created {{ listing.time }}</div>
        {% endfor %}

    {% else %}
        <h3>No Listings in this Category!</h3>

    {% endif %}

{% endblock %}